.gradle
build/
!gradle/wrapper/gradle-wrapper.jar
!**/src/main/**/build/
!**/src/test/**/build/

.gradletasknamecache

*.class
*.log
*.jar
!gradle-wrapper.jar

bin/
out/
target/

.idea/
*.iml
*.ipr
*.iws

.vscode/
.settings/
.classpath
.project

.DS_Store
*.swp
*.swo
*~

dependency-reduced-pom.xml
